node_modules/
dist/
build/
coverage/
.env
.DS_Store
.vscode/
.idea/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js
lib/
temp/
tmp/
.sass-cache/
.cache/
.turbo/
.vite/
.yarn/
.yarnrc.yml
tsconfig.tsbuildinfo